DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_password }}@localhost:5432/{{ postgres_database }}
ALLOWED_HOST={{ fqdn }}
DEPLOY_SERVICE_TOKEN={{ deploy_service_token }}
DEPLOY_BASE_URL={{ deploy_base_url }}
