{% load django_htmx %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register your Podcats</title>
    <link rel="stylesheet" href="{% static 'mvp.css' %}">

    <!-- An example of how we can configure htmx -->
    <!-- https://htmx.org/docs/#config -->
    <meta name="htmx-config" content='{"historyCacheSize": 15}'>
  </head>

  <!--
  Enable htmx extensions for all requests:
  * debug: https://htmx.org/extensions/debug/
  * event-header: https://htmx.org/extensions/event-header/
    -->
  <body hx-ext="debug, event-header">
    <header>
      {% if messages %}
        <article>
          {% for message in messages %}
            <aside>{{message}}</aside>
          {% endfor %}
        </article>
      {% endif %}
      <nav>
        <h1>
          <a href="/">
            Register your Podcast (Logo)
          </a>
        </h1>
        <ul>
          {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'account_signup' %}">sign up</a>
            </li>
            <li>
              <a href="{% url 'account_login' %}">sign in</a>
            </li>
          {% else %}
            <li>
              <a href="/accounts/profile/">{{ user.username }}</a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">logout</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main id="main">
      {% block main %}{% endblock %}
    </main>
    <footer>
      <hr>
      <p>
        For more information see <a href="https://github.com/ephes/django-cast">django-cast</a> and <a href="https://htmx.org/">htmx</a>.
      </p>
    </footer>
    <script src="{% static 'htmx.js' %}"></script>
    <script src="{% static 'ext/debug.js' %}"></script>
    <script src="{% static 'ext/event-header.js' %}"></script>
    {% django_htmx_script %}
  </body>
</html>
